<div class="container">
        <div class="row u-height-50 align-items-center">
          <div class="col-12 col-md-6 mx-auto py-4 px-5 bg-white">
            <header class="text-left mb-4">
              <h2>Account verification</h2>
              <p>If you did not receive an email to verify your account or the token to confirm your account is invalid or has expired, please enter your registed email address below. Please do not forget to check your spam folder!</p>
              <p><% include ./partials/messages %></p>
            </header>
            <form action="/users/reverify" method="post">
              <div class="form-group">
                <label for="reset-email">Email</label>
                <input name="email" type="email" id="email" class="form-control" placeholder="Email">
              </div>
      
              <button class="btn btn-primary w-100" type="submit">resend verification</button>
            </form>
            <a href="/users/login" class="btn btn-link my-4 w-100">Back to Login</a>
          </div>
        </div>
</div>