<div class="container">
    <div class="row u-height-50 align-items-center">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/users/account">Balance</a>
            </li>
            <% if(user.accountRS && user.encryptedData){ %>
            <li class="nav-item">
              <a class="nav-link" href="/users/account-withdraw">Withdraw</a>
            </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link" href="/users/account-settings">Settings</a>
            </li>
            <% if(user.accountRS){ %>
            <li class="nav-item">
              <a class="nav-link" href="/users/my-photos">My photos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/upload-photos">Upload photos</a>
            </li>
            <% } %>
        </ul>
      <div class="col-12 col-md-6 mx-auto py-4 px-5 bg-white">    
        <header class="text-left mb-4">
          <h2>My photos</h2>
          <p>Click on the image to find a link to the Birdlance explorer’s transaction of the image.</p>
          <p>In case the image is found on another website, our application will flag it as a duplicate and give it a red border. Images that are not (yet) found, will remain with a green border.</p>
          <p>In current alpha version this page is not refreshed automaticly. If you can't see a Birdlance explorer transaction link in the image pop-up yet, please refresh the page.</p>
        </header>
        <div class="row">
          <% if(photos){ %>
            <% photos.forEach(function(photo) { %>
              <div class="col-xs-3 col-sm-6 col-md-4">
                <div class="shot shot-minimal">
                  <div class="shot-preview <%= photo.duplicates_found ? 'shot-preview-duplicate' : 'shot-preview-protected' %>" >
                    <a class="img" href="/shot" data-transaction="<%= photo.transaction_url %>" data-id="<%= photo.fileLink %>" data-title="<%= photo.title %>" data-tags="<%= photo.tags %>" data-location="<%= photo.duplicates_links %>"><img class="shot-img" src="<%= photo.fileLink %>" alt=""></a>
                  </div>             
                </div>
              </div>
            <% }) %>
          <% } %>

        </div>

      </div>
    </div>
</div>