<div class="container">
        <div class="row u-height-50 align-items-center">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="/users/account">Balance</a>
                </li>
                <% if(user.accountRS && user.encryptedData){ %>                
                <li class="nav-item">
                  <a class="nav-link" href="/users/account-withdraw">Withdraw</a>
                </li>
                <% } %>  
                <li class="nav-item">
                  <a class="nav-link" href="/users/account-settings">Settings</a>
                </li>
                <% if(user.accountRS){ %>
                <li class="nav-item">
                  <a class="nav-link" href="/users/my-photos">My photos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/upload-photos">Upload photos</a>
                </li>
                <% } %>                
            </ul>
          <div class="col-12 col-md-6 mx-auto py-4 px-5 bg-white">
            <header class="text-left mb-4">
              <h2>Account settings</h2>
              <p>Update your account password.</p>
              <p><% include ./partials/messages %></p>
            </header>
            <form action="/users/update-password" method="post">
              <div class="form-group">
                <label for="current-password">Current password</label>
                <input name="currentpassword" type="password" id="currentpassword" class="form-control" placeholder="Current password"></br>
                <label for="reset-email">New password</label>
                <input name="newpassword" type="password" id="newpassword" class="form-control" placeholder="New password"></br>
                <label for="reset-email">Confirm new password</label>
                <input name="newpassword2" type="password" id="newpassword2" class="form-control" placeholder="Repeat password"></br>
              </div>
              <button class="btn btn-primary w-100" type="submit">Update password</button>
            </form>
          </div>
        </div>
</div>