<div class="container">
  <div class="row u-height-50 align-items-center">
      <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/users/account">Balance</a>
          </li>
          <% if(user.accountRS && user.encryptedData){ %>
          <li class="nav-item">
            <a class="nav-link" href="/users/account-withdraw">Withdraw</a>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" href="/users/account-settings">Settings</a>
          </li>
          <% if(user.accountRS){ %>
          <li class="nav-item">
            <a class="nav-link" href="/users/my-photos">My photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/upload-photos">Upload photos</a>
          </li>
          <% } %>
      </ul>
    <div class="col-12 col-md-6 mx-auto py-4 px-5 bg-white">    
      <header class="text-left mb-4">
        <h2>My account</h2>
        <p><% include ./partials/messages %></p>
        <% if(user.accountRS && user.encryptedData){ %>
        <p>Your wallet is hosted on the Birdlance platform. </br> 
        You can withdraw your BLNC to your desktop wallet address or any BLNC-address on the withdraw tab. </p>
        </p>
        <% } %>
        <% if(!user.accountRS){ %>
        <p>Please enter your BLNC address below or create a wallet.</p>
        <p>Follow our <a href="https://twitter.com/BirdlanceCom">twitter</a> and/or <a href="https://t.me/birdlance">Official Telegram Channel</a> to get updates about the project.</p>
        <% } %> 
        <% if(user.accountRS && !user.airdrop){ %>
<!--           <p>Click the button below to join the airdrop.</p>
          <p>Please <a target="_blank" href="https://forms.gle/jADJKFvBZAvxZWfW6">complete the following form to join the airdrop</a>.</p>
          <p>You will receive your coins once we processed your completion of the form.</p>-->
        <% } %>
        <% if(user.accountRS){ %>
          <p>You can now navigate to the upload photos section to test out our alpha version. 
              After upload your image will be protected by a unique fingerprint saved on the Birdlance blockchain and will be linked to your BLNC account.
              This can be viewed on the blockchain explorer by clicking the link provided in the details of the image in the my photos section.
              If duplicates are found, a red border will appear around the image and a "show duplicates" button will be available in the details of the image.
              The fee of uploading a picture is 4 BLNC(this fee is rewarded to the node that forged the block). 
              In the current alpha version it is only possible to upload a single picture at a time and Birdlance will cover the transaction fee of 4 BLNC.</p>
          <p>Follow our <a href="https://twitter.com/BirdlanceCom">twitter</a> and/or <a href="https://t.me/birdlance">Official Telegram Channel</a> to get updates about the project.</p>
          <label for="BLNC-address">BLNC-address: </label><%= user.accountRS %></br>
          <label for="Balance">Balance: </label><%= balance %> BLNC
        <% } %>
      </header>
          <% if(!user.accountRS){ %>
          <form action="/users/update-account" method="post">
            <div class="form-group">
              <label for="reset-email">BLNC address</label>
              <input name="address" type="address" id="address" class="form-control" placeholder="BLNC-">
            </div>
            <button class="btn btn-primary w-100" type="submit">Confirm address</button>
          </form>
          <div class="my-4 text-uppercase text-center font-weight-bold">or</div>
          <form action="/users/create-wallet" form id="create-wallet" name="create-wallet"  method="post">
            <button class="btn btn-primary w-100" type="submit">create wallet</button>
          </form>
          <% } %> 
          <% if(user.accountRS && !user.airdrop){ %>
<!--          <form action="/users/airdrop" form id="airdrop" name="airdrop"  method="post">
           <button class="btn btn-primary w-100" type="submit">Join airdrop</button> 
          </form>-->
          <% } %>   
          <% if(user.accountRS){ %>
            <a href="/users/account" class="btn btn-xl btn-primary w-100">check balance</a>
            <% } %>
          </div>
        </div>
    </div>
