<div class="container">
        <div class="row u-height-50 align-items-center">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="/users/account">Balance</a>
                </li>
                <% if(user.accountRS && user.encryptedData){ %>
                <li class="nav-item">
                  <a class="nav-link" href="/users/account-withdraw">Withdraw</a>
                </li>
                <% } %>
                <li class="nav-item">
                  <a class="nav-link" href="/users/account-settings">Settings</a>
                </li>
                <% if(user.accountRS){ %>
                <li class="nav-item">
                  <a class="nav-link" href="/users/my-photos">My photos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/upload-photos">Upload photos</a>
                </li>
                <% } %>
            </ul>
          <div class="col-12 col-md-6 mx-auto py-4 px-5 bg-white">
            <header class="text-left mb-4">
              <h2>Withdraw your BLNC</h2>
              <p>Here you can withdraw your BLNC to your desktop wallet address or any BLNC-address. 
                Please make sure to enter the address correctly.
              </p>
              <p><% include ./partials/messages %></p>
            </header>
            <form action="/users/withdraw" method="post">
              <div class="form-group">
                <label for="amount">Amount</label>
                <input name="amount" type="number" id="amount" class="form-control" placeholder="0"></br>
                <label for="blncaddress">BLNC-address</label>
                <input name="blncaddress" type="text" id="blncaddress" class="form-control" placeholder="BLNC-">
              </div>
              <button class="btn btn-primary w-100" type="submit">Withdraw</button>
            </form>
          </div>
        </div>
</div>