<!-- ========== MAIN ========== -->
<!-- Hero Secction -->
<div class="intro" id="home">
    <div class="screen-v-100">
      <div class="l-v-center">
        <div class="container">
          <div class="intro-content">
            <div class="row align-items-lg-center">
  
              <div class="col-md-5">
                <!-- Info -->
                <h1 class="intro-lead-title mb-3">Decentralized reverse image search and protection for pictures, illustrations and artwork</h1>
                <p class="lead" style="color: #EEEEEE">Easily add image recognition and reverse image search to your applications. An online service to protect your pictures, illustrations and artwork by submitting them to the Birdlance blockchain. Track where your images are being used online powered by each node in the Birdlance network.</p>
                <p><% include ./partials/messages %></p>
                <!-- End Info -->
                  <!-- Call to Action -->
                <div class="intro-cta-group d-flex justify-content-center justify-content-sm-start">
                    
                    <form action="/search" form id="search" name="search" class="search"  method="post">
                      <input type="text" id="url" name="url"  value="<%= typeof url != 'undefined' ? url : '' %>" class="searchTerm" placeholder="Paste or enter image URL">
                        <button type="submit" class="searchButton">
                          <i class="fa fa-search"></i>
                        </button>
                  </form>
                </div>
                <!-- Call to Action -->
                <div class="intro-cta-group d-flex justify-content-center justify-content-sm-start">
                  <a href="https://medium.com/birdlance/decentralized-reverse-image-search-blockchain-api-8b5f261f0fbf" target="_blank" class="btn btn-xl btn-primary">Get started</a>
                  <a href="#features" class="btn btn-xl btn-primary">Read more</a>
                  <!-- End Magnific Video Popup -->
                </div>
                <!-- End Call to Action -->
              </div>
  
              <div class="col-md-6 col-lg-5 ml-auto">
                <!-- Hero Image -->
                <div class="intro-img">
                  <img src="images/Birdlance-Logo-Bird.png" class="img-fluid" alt="Image">
                </div>
                <!-- End Hero Image -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Wave shape  -->
    <figure class="img-shape absolute-bottom">
      <img src="/assets/images/wave.svg" alt="Image">
    </figure>
    <!-- End Wave shape  -->
  </div>
  <!-- End Hero Secction -->
  
  
  <!-- End Client Logos -->
  <section class="section-spacer" id="features">	
    <div class="container">
      <div class="row mb-5 mb-md-0">
        <div class="col-md-7">
          <div class="content">
            <div class="row">
              <div class="col-md-9">
                <!--Info-->
                <header class="section-header">
                  <h2>An online service to protect and track your pictures, illustrations and artwork with a unique hash backed by a blockchain transaction.</h2>
                  <p class="lead" style="text-align:justify">Birdlance has the ambition to become the industry standard for protecting pictures, illustrations and artwork by being able to prove authorship and report copyright infringement of any kind by using:</p>
                </header>
                <!--End Info-->
                <div class="feature-boxes m-tb-40">
                  <div class="feature-box mb-5"style="text-align:justify">
                    <h2 class="feature-box--title">Blockchain technology</h2>
                    <small class="feature-box--text">The immutable property of a Blockchain for proof of authorship. Get a unique hash for each image backed by a blockchain transaction.</small>
                  </div>
                  <div class="feature-box mb-5" style="text-align:justify">
                    <h2 class="feature-box--title">Computer Vision</h2>
                    <small class="feature-box--text">Various state of the art computer vision, image recognition and image similarity techniques are applied to detect authenticity and modifications.</small>
                  </div>
                  <div class="feature-box mb-5" style="text-align:justify">
                    <h2 class="feature-box--title">Developers API</h2>
                    <small class="feature-box--text">Easily add image recognition and reverse image search to your own applications with our blockchain APIs.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <!--Feature Image-->
          <img class="img-fluid" src="images/homepage_1.jpg" alt="Image">
          <!--End Feature Image-->
        </div>
      </div>
    </div>
  </section>
  <!-- Client Logos -->

  <!-- ========== INTEGRATION SECTION ========== -->
  <section class="section-spacer" id="integration">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="section-header">
            <h2 class="section-title">Birdlance Blockchain</h2>
            <p>Birdlance runs its own Proof Of Stake Blockchain (based on NXT).</br>
              Our utility coin (BLNC) can be used for protecting and tracking images on our platform or as payment for each blockchain API call that involves reverse image search. </br>
              Since the Birdlance Blockchain doesn't require any mining but rewards are gained by staking, it is a lot more energy efficient and green than any other Proof Of Work Blockchain.</p>
            <a href="#overview" class="btn btn-primary">Check out all apps</a>
          </div>
        </div>
        <div class="col-md-12 col-lg-9">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <a href="/users/account/" class="card integration-card">
                <div class="card-header">
                  <img src="/images/favicon.png" alt="Image">
                  <h4>BLNC Airdrop</h4>
                  <span class="integration-type">It's for free, so hurry!</span>
                </div>
                <div class="card-body">
                  <p style="text-align:justify">
                    The airdrop has ended. We have distributed 10 million BLNC to almost 8000 users. <br/><br/>
                    You can still create an account on our platform and will be able to use the same account when the marketplace goes live.
                  </p>
                </div>
  
              </a>
            </div>
            <div class="col-md-6 col-sm-6">
              <a href="https://www.satoexchange.com/ico/BLNC/" target="_blank" class="card integration-card">
                <div class="card-header">
                  <img src="/images/favicon.png" class="img-fluid" alt="">
                  <h5>BLNC can now be bought on SatoExchange</h5>
                  <span class="integration-type">Click on this box to buy BLNC!</span>
                </div>
                <div class="card-body">
                  <p style="text-align:justify">
                    Sale ends on the 22nd of february 2020 after which trading will open.
                  </p>
                </div>
              </a>   
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ========== END INTEGRATION SECTION ========== -->

  <section>
    <div class="container">
      <header class="text-center">
        <h3 class="text-muted">BLNC is listed on the following exchanges</h3>
      </header>
      <div class="row">
        <div class="col-md-12">
          <div class="client-logos mt-4 text-center">
              <a href="https://www.satoexchange.com/ico/BLNC/"  target="_blank"><img class="m-3" src="/images/kayako-logo-blue.png" alt="Image"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- ========== OVERVIEW SECTION ========== -->
  <section class="section-spacer u-bg-gradient--primary u-text--light" id="overview">
<div class="container">

  <div class="container__sources">

    <div class="sources--cms">
      <h3>Image protection</h3>
      <p>Protect your images on the blockchain. By submitting your image to the Birdlance blockchain network a unique hash of each image will be linked to your BLNC account.</p>
    </div>

    <div class="sources--markdown">
      <h3>Reverse image search</h3>
      <p>Track where your images appear online. Search by an image and find where that image appears online.</p>
    </div>

    <div class="sources--data">
      <h3>Developers API</h3>
      <p>Submit an URL of any image and get a unique hash backed by a blockchain transaction. Show duplicates of any image by requesting the hash or URL. Include image recognition capabilities in your own applications.</p>
    </div>

  </div>

  <!-- include a simple line to divide the container, and animate it to show a connection between the different containers  -->
  <svg viewbox="0 0 10 100">
    <line x1="5" x2="5" y1="0" y2="100"/>
  </svg>


  <!-- in the build container show two cards, atop of one another and the first of one showing an SVG icon -->
  <div class="container__build">

    <div class="build--powered">
      <svg viewbox="0 0 100 100">
        <circle cx="50" cy="50" r="50"/>
      </svg>
      <svg viewbox="0 0 100 100">
        <circle cx="50" cy="50" r="50"/>
      </svg>
      <svg viewbox="0 0 100 100">
        <circle cx="50" cy="50" r="50"/>
      </svg>
      <svg viewbox="0 0 100 100">
        <circle cx="50" cy="50" r="50"/>
      </svg>
      <svg viewbox="0 0 100 100">
        <circle cx="50" cy="50" r="50"/>
      </svg>
      <p>powered by</p>
      <h3>each node in the Birdlance blockchain network</h3>
    </div>

    <div class="build--stack">
      <h3>Our AI searches for matches online and notifies you when a new match is found.</h3>
    </div>

  </div>

  <!-- repeat the svg line to connect the second and third containers as well -->
  <svg viewbox="0 0 10 100">
    <line x1="5" x2="5" y1="0" y2="100"/>
  </svg>

  <!-- in the deploy container show simply text, without a wrapping card -->
  <div class="container__deploy">
    <h3>Decentralized image search</h3>
    <p>Each node acts as an initiator, contributor or validator while getting rewarded with BLNC.</p>
  </div>
</div>
</section>
<section class="section">
  <div class="row">
    <div class="col-md-9 mx-auto">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="feature-list feature-list-md">
                  <a href="https://github.com/birdlance/birdlance-pos-blockchain/releases/download/1.0.02/Birdlance-client-1.0.02.exe">
                  <span class="u-icon u-icon--dark u-icon--xl mb-20 u-icon--rounded feature-box--icon">
                    <i class="icon ion-logo-windows"></i>
                  </span>
                  </a>
                <h3>Birdlance wallet Windows installer</h3>
                <p><a href="https://github.com/birdlance/birdlance-pos-blockchain/releases/download/1.0.02/Birdlance-client-1.0.02.exe">Download</a> the Wallet and start staking. Visit our <a href="#faq">FAQ</a> for help with running the Birdlance wallet</p>
            </div>
          </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="feature-list feature-list-md">
                  <a href="https://github.com/birdlance/birdlance-pos-blockchain/releases/download/1.0.02/Birdlance-client-1.0.02.zip">
                  <span class="u-icon u-icon--dark u-icon--xl mb-20 u-icon--rounded feature-box--icon">
                    <i class="icon ion-ios-archive"></i>
                  </span>
                  </a>
                <h3>Birdlance wallet Zip file</h3>
                <p><a href="https://github.com/birdlance/birdlance-pos-blockchain/releases/download/1.0.02/Birdlance-client-1.0.02.zip">Zip file</a> for Mac/Unix/Windows. Visit our <a href="#faq">FAQ</a> for help with running the Birdlance wallet</p>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="feature-list feature-list-md">
                  <a href="https://github.com/birdlance/birdlance-pos-blockchain">
                  <span class="u-icon u-icon--dark u-icon--xl mb-20 u-icon--rounded feature-box--icon">
                    <i class="icon ion-logo-github"></i>
                  </span>
                  </a>
                <h3>Birdlance Blockchain Github</h3>
                <p>Do you want to run a node on a cloud platform? Visit our <a href="https://github.com/birdlance/birdlance-pos-blockchain">Github</a>.
                  You can also visit our FAQ for more help on running a node.
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ========== END OVERVIEW SECTION ========== -->

  <!--Feature Explainer-->
  <section class="section-spacer u-bg--default">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-md-5 mr-auto">
          <header class="mb-5">
            <h2>Protect and track your images, illustrations or artwork</h2>
            <p class="lead">
              Protect your images by a unique fingerprint backed by a blockchain transaction.
              Our reverse image search and AI monitors your pictures and can trace even derived works back to its original.</p>
          </header>
          <!--Feature Image-->
          <img src="images/woman_in_wedding_dress.png" class="img-fluid mb-5 mb-md-0" alt="Image">
          <!--End Feature Image-->
        </div>
  
        <div class="col-md-6">
          <!--Content-->
          <ul class="list-check light">
            <li class="list-check--item">
              <h4>Protect</h4>
              <p>By submitting your image to the Birdlance blockchain network a unique hash of each image will be linked to your BLNC account. Each image protection transaction can be viewed on the blockchain explorer. The fee of uploading a picture is 4 BLNC(this fee is rewarded to the node that forged the block).</p>
            </li>
  
            <li class="list-check--item">
              <h4>Monitor & reverse image search</h4>
              <p>85% of images uploaded to the internet are used without permission. Our AI searches for matches online and notifies you when a new match is found. Search by an image and find where that image appears online. </p>
            </li>

            <li class="list-check--item">
              <h4>Developers API</h4>
              <p>Submit an URL of any image and get a unique hash backed by a blockchain transaction. Show duplicates of any image by requesting the hash or URL. </p>
            </li>

            <li class="list-check--item">
              <h4>Image recognition</h4>
              <p>Our developers API enables you to include image recognition and reverse image search capabilities in your own applications.</p>
            </li>          
          </ul>
          <!--End Content-->
        </div>
      </div>
    </div>
  </section>
  <!--End Feature Explainer-->
  
  <!-- ========== ROADMAP SECTION ========== -->
  <section class="section-spacer" id="roadmap">
      <div class="container">
          <h2 class="pb-3 pt-2 border-bottom mb-5">Roadmap</h2>
          <!--first section-->
          <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
              <div class="circle font-weight-bold">Q1 2019</div>
            </div>
            <div class="col-6">
              <h5>Computer Vision</h5>
              <p>Computer vision, image recognition and image similarity techniques with fully scalable APIs.</p>
            </div>
          </div>
          <!--path between 1-2-->
          <div class="row timeline">
            <div class="col-2">
              <div class="corner top-right"></div>
            </div>
            <div class="col-8">
              <hr/>
            </div>
            <div class="col-2">
              <div class="corner left-bottom"></div>
            </div>
          </div>
          <!--second section-->
          <div class="row align-items-center justify-content-end how-it-works d-flex">
            <div class="col-6 text-right">
              <h5>Birdlance mainnet launched</h5>
              <p>Birdlance blockchain with wallet and blockchain explorer.</p>
            </div>
            <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
              <div class="circle font-weight-bold">Q3 2019</div>
            </div>
          </div>
          <!--path between 2-3-->
          <div class="row timeline">
            <div class="col-2">
              <div class="corner right-bottom"></div>
            </div>
            <div class="col-8">
              <hr/>
            </div>
            <div class="col-2">
              <div class="corner top-left"></div>
            </div>
          </div>
          <!--third section-->
          <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center full2 d-inline-flex justify-content-center align-items-center">
              <div class="circle font-weight-bold">Q3 2019</div>
            </div>
            <div class="col-6">
              <h5>Birdlance Airdrop</h5>
              <p>Birdlance.com airdrop ended. We have distributed 10 million BLNC to almost 8000 users.</p>
            </div>
          </div>
          <!--path between 3-4-->
          <div class="row timeline">
            <div class="col-2">
              <div class="corner top-right"></div>
            </div>
            <div class="col-8">
              <hr/>
            </div>
            <div class="col-2">
              <div class="corner left-bottom"></div>
            </div>
          </div>
          <!--4th section-->
          <div class="row align-items-center justify-content-end how-it-works d-flex">
            <div class="col-6 text-right">       
              <h5>Blockchain client update to 1.02 and extra node rewards</h5>
              <p>Birdlance blockchain client is updated to 1.0.02 with critical bugfixes and a node reward program is running till 2020.</p>
            </div>
            <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
              <div class="circle font-weight-bold">Q3 2019</div>
            </div>
          </div>
          <!--path between 4-5-->    
          <div class="row timeline">
            <div class="col-2">
              <div class="corner right-bottom"></div>
            </div>
            <div class="col-8">
              <hr/>
            </div>
            <div class="col-2">
              <div class="corner top-left"></div>
            </div>
          </div>
          <!--fifth section-->
          <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center full2 d-inline-flex justify-content-center align-items-center">
              <div class="circle font-weight-bold">Q3 2019</div>
            </div>
            <div class="col-6">
              <h5>BLNC on mobile wallet</h5>
              <p>Hebe Wallet is a decentralized mobile wallet that supports local transaction signatures, so your mnemonics will never be sent over the internet. BLNC was added in the september update.</p>
            </div>
          </div>
          <!--path between 5-6-->
          <div class="row timeline">
              <div class="col-2">
                <div class="corner top-right"></div>
              </div>
              <div class="col-8">
                <hr/>
              </div>
              <div class="col-2">
                <div class="corner left-bottom"></div>
              </div>
            </div>
          <!--6th section-->
          <div class="row align-items-center justify-content-end how-it-works d-flex">
              <div class="col-6 text-right">       
                <h5>Birdlance protection and track alpha version</h5>
                <p>Create an account on birdlance.com and navigate to <a href="/users/account">my account</a> to test out our alpha version. </p>
              </div>
              <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">Q1 2020</div>
              </div>
            </div>
          <!--path between 6-7-->    
          <div class="row timeline">
              <div class="col-2">
                <div class="corner right-bottom"></div>
              </div>
              <div class="col-8">
                <hr/>
              </div>
              <div class="col-2">
                <div class="corner top-left"></div>
              </div>
            </div>
          <!--7th section-->
          <div class="row align-items-center how-it-works d-flex">
              <div class="col-2 text-center full2 d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">Q1 2020</div>
              </div>
              <div class="col-6">
                <h5>BLNC coin sale & listing</h5>
                <p>BLNC can now be bought on <a href="https://www.satoexchange.com/ico/BLNC/"  target="_blank">SatoExchange</a>. Sale ends on the 22nd of february 2020 after which trading will open. </p>
              </div>
          </div>
          <!--path between 7-8-->
          <div class="row timeline">
            <div class="col-2">
              <div class="corner top-right"></div>
            </div>
            <div class="col-8">
              <hr/>
            </div>
            <div class="col-2">
              <div class="corner left-bottom"></div>
            </div>
          </div>          
          <!--8th section-->
          <div class="row align-items-center justify-content-end how-it-works d-flex">
            <div class="col-6 text-right">       
              <h5>Developers API</h5>
              <p>Release our reverse image search as a blockchain API. Everyone will then be able to use our blockchain to easily add image recognition and reverse image search to their applications.</p>
            </div>
            <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
              <div class="circle font-weight-bold">Q1 2020</div>
            </div>
          </div>
          <!--path between 8-9-->    
          <div class="row timeline">
            <div class="col-2">
              <div class="corner right-bottom"></div>
            </div>
            <div class="col-8">
              <hr/>
            </div>
            <div class="col-2">
              <div class="corner top-left"></div>
            </div>
          </div>
          <!--9th section-->
          <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
              <div class="circle font-weight-bold">Q2 2020</div>
            </div>
            <div class="col-6">
              <h5>Blockchain client update to 1.03</h5>
              <p>integration of our reverse image search with each node. This means that the more nodes the birdlance blockchain network has, the more powerful our reverse image search will become.</p>
            </div>
        </div>                                               
      </div>
  </section>
  <!-- ========== END ROADMAP SECTION ========== -->

  <!-- ========== FAQ SECTION ========== -->
  <section class="section-spacer" id="faq">
    <div class="container">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <!--Section Header-->
          <header class="section-header text-center">
            <h2>Common Questions</h2>
            <p class="lead">Contact us if these are not the questions you're looking for.
            </p>
          </header>
          <!--End Section Header-->
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 mx-auto">
          <ul class="list-unstyled faq-list">
            <!--FAQ Item-->
            <li class="mb-3">
              <h3>How to run the Birdlance wallet on a Windows device?</h3>
              <p>To run the Birdlance wallet on a Windows device, simply download the installer or zip file. 
              You can run the wallet by opening run.bat or clicking the Desktop shortcut if you used the Windows installer.
              You need to have Java installed.
            </p>
            </li>
            <!--End FAQ Item-->
  
            <!--FAQ Item-->
            <li class="mb-3">
              <h3>How to run the Birdlance wallet on a Mac or Unix device?</h3>
              <p>To run the Birdlance wallet on a Windows device, simply download and extract the zip file.
              Open a terminal and run ./run.sh (compile with sh .\compile.sh the first time).
              You need to have Java installed.
              </p>
            </li>
            <!--End FAQ Item-->
  
            <!--FAQ Item-->
            <li class="mb-3">
              <h3>Can I mine BLNC?</h3>
              <p>No, you cannot mine BLNC. The Birdlance blockchain is a Proof Of Stake blockchain. 
                This means it cannot be mined like a coin based on Proof Of Work such as Bitcoin. People get rewarded with coins by validating the network.
                To earn BLNC you must "stake" your coins in a wallet and enable forging or run a full node on a cloud platform such as Amazon Web Services.
                Read our wallet and forging guide <a target="_blank" href="https://medium.com/birdlance/birdlance-wallet-and-forging-guide-3c811cd35487">here</a>.
              </p>
            </li>
            <!--End FAQ Item-->

            <li class="mb-3">
                <h3>How can I protect my pictures?</h3>
                <p>After creating an <a href="/users/account">account</a> you can now navigate to the upload photos section to test out our alpha version. After upload your image will be protected by a unique fingerprint saved on the Birdlance blockchain and will be linked to your BLNC account. 
                  This can be viewed on the blockchain explorer by clicking the link provided in the details of the image in the my photos section. 
                  If duplicates are found, a red border will appear around the image and a "show duplicates" button will be available in the details of the image. 
                  The fee of uploading a picture is 4 BLNC(this fee is rewarded to the node that forged the block). 
                  In the current alpha version it is only possible to upload a single picture at a time and Birdlance will cover the transaction fee of 4 BLNC. 
              </p>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="mt-4 text-center">
        <h4>No luck, have more questions?
          <a href="#contact">Contact us</a>
        </h4>
      </div>
    </div>
  </section>
  <!-- ========== END FAQ SECTION ========== -->
  
  <!-- ========== CONTACT  SECTION ========== -->
  <section class="section-spacer contact-image" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <!--Section Header-->
          <header class="section-header text-center u-text--light">
            <h2 class="h1" style="background-color: rgb(204, 202, 202)">Get in touch</h2>
            <p class="lead" style="background-color: rgb(204, 202, 202)">If you have any questions or want to do business with us, please feel free to contact us.</p>
            <p><% include ./partials/messages %></p>
          </header>
          <!--End Section Header-->
        </div>
      </div>
  
      <div class="row">
        <div class="col-12 col-md-8 mx-auto">
          <!--Contact Form-->
          <form action="/contact-send" method="post" class="contact-form p-md-5">
            <div class="row">
              <div class="col-12 col-md-6">
                <!--Input-->
                <div class="form-group">
                  <label for="form-input"> Name </label>
                  <input type="text" id="name" class="form-control" name="name" placeholder="Your full name" required>
                </div>
                <!--End Input-->
              </div>
              <div class="col-12 col-md-6">
                <!--Input-->
                <div class="form-group">
                  <label for="form-email">Email</label>
                  <input type="text" id="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>
                <!--End Input-->
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <!--Input-->
                <div class="form-group">
                  <label for="form-subject">Subject</label>
                  <input type="text" id="subject" class="form-control" name="subject" placeholder="Subject" required>
                </div>
                <!--End Input-->
              </div>
            </div>
            <!--Textarea-->
            <div class="form-group">
              <label for="form-message">Message</label>
              <textarea id="message" class="form-control" name="message" rows="5"
                        placeholder="Please let us know why you’re reaching out. The more details the better!"></textarea>
            </div>
            <div class="g-recaptcha" data-sitekey="6LfEhrQUAAAAACiXBhuz403vtbkPnd_l4JDwzyrN"></div></br>
            <!--End Textarea-->
  
            <!--Submit Button-->
            <button class="btn btn-primary btn-xl w-100">Send Message</button>
            <!--End Submit Button -->
          </form>
          <!--End Form-->
        </div>
      </div>
    </div>
  </section>
  <!-- ========== END CONTACT SECTION ========== -->
