<!DOCTYPE html>
<html lang="en">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145075477-1"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-145075477-1');
</script>
  <!-- Site Title -->
  <title><%= title %></title>

  <!-- Required Meta Tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <!-- Basic SEO Meta Tags -->
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <!-- Facebook OpenGraph -->
  <meta property="og:title" content="">
  <meta property="og:site_name" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:type" content="website">

  <!-- Twitter Card Data Here -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:image" content="">
  <meta name="twitter:image:width" content="1300">
  <meta name="twitter:image:height" content="697">
  <meta name="twitter:url" content="">

  <!-- Color the status bar on mobile devices -->
  <meta name="theme-color" content="#000000">

  <!-- Favicon -->
  <link rel="icon" href="images/favicon.png">

  <!-- CSS Global Complusory-->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!-- Google Fonts (if required) -->
  <link href="https://fonts.googleapis.com/css?family=Rubik:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="css/ionicons.min.css">
  <link rel="stylesheet" href="css/fontawesome-all.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/swiper.min.css">
  <link rel="stylesheet" href="css/prism.css">

  <!-- CSS Ambassador Core Styles -->
  <link rel="stylesheet" href="css/styles.css">
  
  <link href="./assets/css/app.css" rel="stylesheet">

</head>


<body class="has-sticky-navbar">

<!-- Preloader -->
<!--<div id="loading">-->
  <!--<div class="ripple ripple1"></div>-->
  <!--<div class="ripple ripple2"></div>-->
  <!--<div class="ripple ripple3"></div>-->
  <!--<div class="ripple ripple4"></div>-->
<!--</div>-->
<!-- End Preloader -->

<!-- ========== HEADER ========== -->
<!-- Nav -->
<nav class="navbar affix navbar-expand-lg fixed-top navbar-light">
  <div class="container-fluid align-items-center">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <img src="images/logo.png" class="logo logo-md" alt="Image">
    </a>
    <!-- End Logo -->

    <!-- Responsive Menu Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="menu-icon">
          <span class="menu-icon__bar"></span>
          <span class="menu-icon__bar"></span>
          <span class="menu-icon__bar"></span>
        </span>
    </button>
    <!-- End Responsive Menu Button -->

    <!-- Navigation -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Links -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a href="../../#features" class="nav-link">Features</a>
        </li>
        <li class="nav-item">
          <a href="../../#overview" class="nav-link">Overview</a>
        </li>
        <li class="nav-item">
          <a href="../../#roadmap" class="nav-link">Roadmap</a>
        </li>
        <li class="nav-item">
          <a href="../../#faq" class="nav-link">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="../../#contact" class="nav-link">Contact</a>
        </li>

        <li class="nav-item">
          <a href="https://explorer.birdlance.com" class="nav-link">Explorer</a>
        </li>
        <li class="nav-item">
            <a href="https://wallet.birdlance.com:9085/index.html" class="nav-link">Web wallet</a>
        </li>
      </ul>
      <!-- End Links -->

      <!-- Nav Right Item -->
      <div class="site-header--right d-flex justify-content-center align-items-center">
        <% if(user){ %>
        <a href="/users/account" class="btn btn-lg btn-outline">
          My account
        </a>
          <span class="mx-3">or</span>
        <a href="/users/logout" class="btn btn-lg btn-outline">
          Logout
        </a>
        <% } %>
        <% if(!user) { %>
        <a href="/users/register" class="btn btn-lg btn-outline">
          Create account
        </a>
        <span class="mx-3">or</span>
        <a href="/users/login" class="btn btn-link">Login</a>
        <% } %>
      </div>

      <!-- End Nav Right Item -->
    </div>
  </div>
</nav>
<!-- End Nav -->
<!-- ========== End Header ========== -->

<%- body %>

<!-- ========== FOOTER ========== -->
<footer class="section-spacer">
  <div class="container">
    <div class="row">
      <!--Footer Widget-->
      <div class="col-12 col-md-3 mb-5">
        <!--Logo-->
        <a href="/" class="d-block">
          <img src="images/logo_text.png" class="logo logo-lg mb-1" alt="">
        </a>
        <!--End Logo-->
        <!--Contact Info-->
        <p class="u-text--light">
          <a href="mail:info@birdlance.com" data-toggle="tooltip"
             title="Feel free to contact us">info@birdlance.com</a>
          <br/>
        </p>
        <!--Contact Info-->
      </div>
      <!--End Footer Widget-->
      <div class="col-12 col-md-9">
        <div class="row no-gutters">

          <!--Footer Widget-->
          <div class="col-6 col-lg-3 mb-3">
            <h5>Birdlance wallet</h5>
            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/birdlance/birdlance-pos-blockchain/releases/download/1.0.02/Birdlance-client-1.0.02.exe">Windows installer</a>
              </li>
              <li>
                <a href="https://github.com/birdlance/birdlance-pos-blockchain/releases/download/1.0.02/Birdlance-client-1.0.02.zip">Zip</a>
              </li>
              <li>
                <a href="https://github.com/birdlance/birdlance-pos-blockchain">Github</a>
              </li>
            </ul>
          </div>
          <!--End Footer Widget-->

          <!--Footer Widget-->

          <div class="col-6 col-lg-3 mb-3">
            <h5>Handy Links</h5>
            <ul class="list-unstyled">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="../../#features">Features</a>
              </li>
              <li>
                <a href="../../#overview">Overview</a>
              </li>
              <li>
                <a href="../../#roadmap">Roadmap</a>
              </li>
              <li>
                <a href="../../#faq">FAQs</a>
              </li>
            </ul>
          </div>
          <!--End Footer Widget-->

          <!--Footer Widget-->
          <div class="col-6 col-lg-3 mb-3">
            <h5>Community</h5>
            <ul class="list-unstyled">
              <li>
                <a href="https://explorer.birdlance.com">Blockchain explorer</a>
              </li>
              <li>
                  <a href="https://wallet.birdlance.com:9085/index.html">Web wallet</a>
              </li>              
              <li>
                <a href="https://docs.birdlance.com">API documentation</a>
              </li>
            </ul>
          </div>
          <!--End Footer Widget-->

          <!--Footer Widget-->
          <div class="col-6 col-lg-3 mb-3">
            <h5>Company</h5>
            <ul class="list-unstyled">
              <li>              
                <a href="https://birdlance-assets.s3.eu-central-1.amazonaws.com/Birdlance_Whitepaper.pdf">Whitepaper</a>
              </li>
              <li>
                <a href="https://medium.com/birdlance">Blog</a>
              </li>
              <li>
                <a href="/privacy">Privacy policy</a>
              </li>
            </ul>
          </div>
          <!--End Footer Widget-->

        </div>
        <hr>
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <!-- Copyright -->
          <p>&copy; 2019 Birdlance</p>
          <!-- end Copyright -->


          <!-- Social Networks -->
          <ul class="list-inline social-links">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/birdlance.project">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/BirdlanceCom">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://medium.com/birdlance">
                <i class="fab fa-medium"></i>
              </a>
            </li>
          </ul>
          <!-- end Social Networks -->
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- ========== END FOOTER ========== -->

<!-- Shot description modal -->
<div id="shot-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <a class="close-modal" data-dismiss="modal" href="#"><i class="ti-close"></i></a>
    <div class="modal-content"></div>
  </div>
</div>
<!-- END Shot description modal -->
      

<!-- JS Global Compulsory -->
<script src="js/vendors/jquery.min.js"></script>
<script src="js/vendors/bootstrap.bundle.min.js"></script>

<!-- JS Implementing Plugins-->
<script src="js/vendors/jquery.magnific-popup.min.js"></script>
<script src="js/vendors/owl.carousel.min.js"></script>
<script src="js/vendors/jquery.easing.min.js"></script>
<script src="js/vendors/swiper.min.js"></script>
<script src="js/vendors/holder.min.js"></script>

<!-- JS Ambassador -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
<script src="js/ambassador.js"></script>
<script src="js/custom.js"></script>

</body>

</html>