
<div class="container">
    <div class="row align-items-center flex-md-row-reverse u-height-80">
      <div class="col-md-6 mx-auto mt-3 mt-md-5">
        <!--Form Container-->
        <header class="mb-3 mb-md-4">
          <h3>Sign to your account</h3>
          <p><% include ./partials/messages %></p>
        </header>

        <!--Sign in with Google Button-->
        <!-- <button type="button" class="google-button btn-block"> -->
            <!-- <span class="google-button__icon"> -->
              <!--Google Logo Icon-->
              <!-- <img src="assets/images/google-logo.svg" class="img-fluid" alt="Image"> -->
              <!--End Google Logo Icon-->
             <!-- </span> -->
          <!-- <span class="google-button__text">Sign in with Google</span> -->
        <!-- </button> -->
        <!--End Sign in with Google Button-->
        <!-- <div class="my-4 text-uppercase text-center font-weight-bold">or</div> -->

        <form action="/users/login" form id="login-form" name="login-form"  method="post" class="mt-3">
          <!--Input-->
          <div class="form-group">
            <label for="login-email">Email</label>
            <input name="email" type="email" id="email" class="form-control" placeholder="Email">
          </div>
          <!--End Input-->

          <!--Input-->
          <div class="form-group">
            <label for="login-password">Password</label>
            <input name="password" type="password" id="password" class="form-control" placeholder="Password">
          </div>
          <!--End Input-->

          <!--input-->
          <div class="form-group d-flex justify-content-between">
      
            <a href="/users/reset-password">Forgot password?</a>
          </div>
          <!--End Input-->
          <div class="g-recaptcha" data-sitekey="6LfEhrQUAAAAACiXBhuz403vtbkPnd_l4JDwzyrN"></div></br>

          <button class="btn btn-block btn-primary" id="login-form-submit" name="login-form-submit" value="login" type="submit">Login</button>
        </form>
        <!--End Form Container-->
        <div class="mt-5 text-center">
          <span class="mr-2">Need an account?</span>
          <a href="/users/register" class="btn btn-link">Create one</a>
        </div>
    <!--end of row-->
      </div>
  </div>
  <!--End of container-->
</div>
<!--End of main container-->