<div class="container">
        <div class="row u-height-50 align-items-center">
          <div class="col-12 col-md-6 mx-auto py-4 px-5 bg-white">
            <header class="text-left mb-4">
              <h2>Reset password</h2>
              <p>Please enter a new password.</p>
              <p><% include ./partials/messages %></p>
            </header>
            <form action="/users/password-reset/<%= token %>" method="post">
              <!--Input-->
              <div class="form-group">
                <label for="signup-password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" value="<%= typeof password != 'undefined' ? password : '' %>" class="form-control">
              </div>
              <!--end Input-->

              <!--Input-->
              <div class="form-group">
                <label for="signup-password">Confirm password</label>
                <input type="password" id="password2" name="password2" placeholder="Confirm password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" class="form-control">
              </div>
              <!--end Input-->       
      
              <button class="btn btn-primary w-100" type="submit">Update password</button>
            </form>
          </div>
        </div>
</div>