<div class="container">
    <div class="row u-height-50 align-items-center">
      <div class="col-12 mx-auto py-4 px-5 bg-white">
        <h2>Privacy Policy</h2>
          <p>Birdlance and its affiliates and subsidiaries (“<strong>Birdlance</strong>”, “<strong>we</strong>” or “<strong>us</strong>”) are committed to protecting your privacy and safeguarding your personal information. The purpose of this privacy policy (the “<strong>Privacy Policy</strong>”) is to inform you about our privacy practices, including how we collect, use and disclose your personal information.</p>
          <p>This Privacy Policy applies to our website, mobile applications and related services (collectively, the “<strong>Birdlance Services</strong>”). By visiting, accessing, or using the Birdlance Services, you consent to the policies and practices of this Privacy Policy so please read them carefully. If any policies or practices of this Privacy Policy are unacceptable to you, please do not visit, access, or use the Birdlance Services.</p>
          <div id="whats-in-this-privacy-policy"></div>
          <h3>What's in this Privacy Policy?</h3>
          <ul>
          <li><p><a href="#privacy-policy-amendments">Privacy Policy Amendments</a></p></li>
          <li><p><a href="#personal-information-we-collect">Personal Information We Collect</a></p></li>
          <li><p><a href="#how-we-use-personal-information">How We Use Personal Information</a></p></li>
          <li><p><a href="#how-share-personal-information">How We Share Personal Information</a></p></li>
          <li><p><a href="#information-security">Information Security</a></p></li>
          <li><p><a href="#retention-of-personal-information">Retention of Personal Information</a></p></li>
          <li><p><a href="#rights-regarding-your-personal-information">Rights Regarding your Personal Information</a></p></li>
          <li><p><a href="#direct-marketing">Direct Marketing</a></p></li>
          <li><p><a href="#data-transfer">Data Transfer</a></p></li>
          <li><p><a href="#third-party-websites-and-services">Third Party Websites and Services</a></p></li>
          <li><p><a href="#childrens-privacy">Children’s Privacy</a></p></li>
          <li><p><a href="#contact-us">Contact Us</a></p></li>
          </ul>
          <div id="privacy-policy-amendments"></div>
          <h3>Privacy Policy Amendments</h3>
          <p>Your privacy matters to us so whether you are new to the Birdlance Services or a long-time user, please take the time to get to know and familiarize yourself with our policies and practices. Feel free to print and keep a copy of this Privacy Policy, but please understand that we reserve the right to change any of our policies and practices at any time. But don’t worry, you can always find the latest version of this Privacy Policy here on this page. Visiting, accessing, or using the Birdlance Services following any change to this Privacy Policy is considered to be your acceptance of any such changes. You should, therefore, read this Privacy Policy from time to time. If you do not agree to be bound by this Privacy Policy, you should not visit, access or use the Birdlance Services.</p>
          <div id="personal-information-we-collect"></div>
          <h3>Personal Information We Collect</h3>
          <p>The personal information we collect about you may include the following. In each case, we identify the grounds that we rely on to process your personal information under the General Data Protection Regulation (the “<strong>GDPR</strong>”):</p>
          <ul>
          <li>Account Profile – when you open an account, we may collect your first name, last name, email address, username and password. You may also provide additional details on your account profile, such as your profile picture, photos, location data, personal website, Instagram username, Twitter username and Facebook profile. <em>Applicable legal grounds</em>: contract performance, consent, legitimate interests (to enable us to perform our obligations and provide our services);</li>
          <li>Device Information – information that is automatically collected about your device, such as hardware, operating system, browser, etc. <em>Applicable legal grounds</em>: legitimate interests (to allow us to provide the content and services on the website), consent, contract performance;</li>
          <li>Location Information – information that is automatically collected via analytics systems providers to determine your location, including your IP address and/or domain name and any external page that referred you to us. <em>Applicable legal grounds</em>: legitimate interests (to allow us to provide the content and services on the website), consent, contract performance;</li>
          <li>Server Log Information – information that is generated by your use of the Birdlance Services that is automatically collected and stored in our server logs. This may include, but is not limited to, device-specific information, location information, system activity and any internal and external information related to Birdlance pages that you visit. <em>Applicable legal grounds</em>: legitimate interests (to allow us to provide the content and services on the website), consent, contract performance;</li>
          <li>Correspondence – information that you provide to us in correspondence, such as when you submit questions or inquiries and with respect to ongoing customer support. <em>Applicable legal grounds</em>: legitimate interests (to enable us to perform our obligations and provide our services), consent, contract performance.</li>
          </ul>
          <p>Birdlance may also make use of the standard practice of placing tiny data files called cookies, flash cookies, pixel tags, or other tracking tools (“<strong>Cookies</strong>”) on your computer or other devices used to access the Birdlance Services. Cookies are small bits of information that are automatically stored on the web browser of your device that can be retrieved by us. The type of information we collect includes, but is not limited to, uniquely identifying visitor information and information related to your usage preferences. We use these technologies to help us recognize you as a user, collect information about your use of the Birdlance Services to better customize our services and content for you. By using the Birdlance Services, you acknowledge and agree that we may collect and/or transmit any data collected to our third-party service providers, such as analytics providers, which may also make use of such technologies described above. Please note that if you block or delete cookies you will not be able to use some or all of the Birdlance Services.</p>
          <div id="how-we-use-personal-information"></div>
          <h3>How We Use Personal Information</h3>
          <p>We take steps designed to ensure that only those employees who need access to your personal information to fulfil their employment duties will have access to it. We may use the personal information we collect to:</p>
          <ul>
          <li>provide you with the Birdlance Services, including customer support;</li>
          <li>optimize and enhance the Birdlance Services, including to develop new products, services, features, and functionality;</li>
          <li>respond to inquiries and other requests;</li>
          <li>provide you with information that we think may interest you, including in regards to our products and services;</li>
          <li>monitor the usage of the Birdlance Services, including by conducting automated and manual security checks;</li>
          <li>understand and analyze the usage trends and preferences of our users;</li>
          <li>create aggregated and anonymized reporting data about the Birdlance Services;</li>
          <li>investigate legal claims;</li>
          <li>carry out such purposes for which we may obtain consent from time to time; and</li>
          <li>carry out such other purposes as may be permitted or required by applicable law.</li>
          </ul>
          <div id="how-we-share-personal-information"></div>
          <h3>How We Share Personal Information</h3>
          <p>We may disclose your personal information to law enforcement and governmental entities when required by law or in the good-faith belief that such action is necessary to comply with applicable laws, in response to a facially valid court order, judicial or other government subpoena or warrant, or to otherwise cooperate with law enforcement or other governmental agencies. We may also disclose your personal information to a third party in the event of any potential or completed reorganization, merger, sale, joint venture, assignment, transfer or other disposition of all or any portion of our business.</p>
          <p>We rely on third party services providers to perform a variety of services on our behalf, such as identity verification, detection of fraud or security threats, telephone or technical support, payment card processing, hosting services, and data storage or processing, and we may transfer your personal information to our service providers for such purposes. Third party service providers have access to and may collect personal information only as needed to perform their functions and are not permitted to share or use the information for any other purpose.</p>
          <p>When we disclose your personal information to third parties, we take reasonable measures to ensure that the rules set forth in this Privacy Policy are complied with and that such third parties provide sufficient guarantees to implement appropriate technical and organisational measures to protect your personal information.</p>
          <div id="information-security"></div>
          <h3>Information Security</h3>
          <p>We take your privacy very seriously and have implemented physical, organizational and technological security measures with a view to protecting your personal information from loss or theft, unauthorized access, disclosure, copying, use or modification. In particular, we encrypt the Birdlance website with SSL; we periodically review information collection, storage, and processing practices; and we restrict access to your information on a need-to-know basis for our employees, contractors, and agents who are subject to strict contractual confidentiality obligations and may be disciplined or terminated if they fail to meet these obligations.</p>
          <p>Despite the measure outlined above, no method of information transmission or information storage is 100% secure or error-free, so we unfortunately cannot guarantee absolute security. If you have reason to believe that your interaction with us is no longer secure (for example, if you feel that the security of any information that you provided to us has been compromised), please contact us immediately using the contact information in the <a href="#contact-us">“Contact Us” section</a> below.</p>
          <div id="retention-of-personal-information"></div>
          <h3>Retention of Personal Information</h3>
          <p>We will use, disclose or retain your personal information only for as long as necessary to fulfill the purposes for which that personal information was collected and as permitted or required by law.</p>
          <div id="rights-regarding-your-personal-information"></div>
          <h3>Rights Regarding Your Personal Information</h3>
          <p>Under certain circumstances and in accordance with the GDPR or other applicable data protection laws, you have the following rights:</p>
          <ul>
          <li>Access – ask if we are processing information and, if we are, request access to your personal information. This enables you to receive a copy of the personal information we hold and certain other information about you;</li>
          <li>Correction – request that any incomplete or inaccurate personal information about you that we hold be corrected;</li>
          <li>Erasure – ask us to delete or remove your personal information in certain circumstances. There are certain exceptions where we may refuse a request for erasure, for example, where the personal information is required for compliance with law or in connection with legal claims;</li>
          <li>Restriction – ask us to suspend the processing of your personal information, for example, to establish its accuracy or the reason for processing it;</li>
          <li>Transfer – request the transfer of certain personal information to another party;</li>
          <li>Objection – challenge our processing of personal information based on a legitimate interest (or those of a third party) or for direct marketing purposes. However, we may be entitled to continue processing information in certain circumstances;</li>
          <li>Automated decisions – contest any automated decision made where it has a legal or similar significant effect and ask for it to be reconsidered; and</li>
          <li>Consent – where we are processing personal information with consent, withdraw your consent.</li>
          </ul>
          <p>You also have a right to make a complaint with a data protection supervisory authority, in particular in the Country (as defined below) where you normally reside, where we are based or where an alleged infringement of data protection law has taken place.</p>
          <p>To exercise any of these rights, please contact us as set forth in the <a href="#contact-us">“Contact Us” section</a>.</p>
          <div id="direct-marketing"></div>
          <h3>Direct Marketing</h3>
          <p>Subject to applicable laws and regulations, we may from time to time send direct marketing materials promoting services, products, facilities, or activities to you using information collected from you. If you no longer want to receive marketing-related communications from us, you may opt-out of such communications by clicking the “unsubscribe” link at the bottom of emails you receive from us. You may also opt-out by contacting us directly using the contact information in the “Contact Us” section below. We will endeavour to respond to your opt-out request promptly, but we ask that you please allow us reasonable time to process your request. We will not provide your information to third parties for direct marketing or other unrelated purposes without your written consent.</p>
          <p>Please note that if you opt-out from receiving marketing-related communications, we may still need to send you communications about your use of our products or services, or other matters, subject to applicable laws and regulations.</p>
          <div id="data-transfer"></div>
          <h3>Data Transfer</h3>
          <p>Your personal information may be stored and processed in any country, province or state (each a “<strong>Country</strong>”) where we have facilities or in which we engage third party service providers. As a result, your personal information may be transferred to Countries outside your Country of residence, which may have different data protection rules than in your Country. While such information is outside of your Country, it is subject to the laws of the Country in which it is held, and may be subject to disclosure to the governments, courts or law enforcement or regulatory agencies of such other Country, pursuant to the laws of such Country. However, our practices regarding your personal information will at all times continue to be governed by this Privacy Policy and, if applicable, we will comply with the GDPR requirements of providing adequate protection for the transfer of personal information from the EU/EEA to other countries.</p>
          <div id="third-party-websites-and-services"></div>
          <h3>Third Party Websites and Services</h3>
          <p>This Privacy Policy applies only to the Birdlance Services and does not extend to any websites or products or services provided by third parties. We do not assume responsibility for the privacy practices of such third parties, and we encourage you to review all third party privacy policies prior to using third party websites or products or services.</p>
          <div id="childrens-privacy"></div>
          <h3>Children's Privacy</h3>
          <p>The Birdlance Services are not directed to children under the age of 16, and we do not knowingly collect personal information from children under the age of 16 without obtaining parental consent. If you are under 16 years of age, then please do not use or access the Birdlance Services at any time or in any manner. If we learn that personal information has been collected on the Birdlance Services from persons under 16 years of age and without verifiable parental consent, then we will take the appropriate steps to delete this information. If you are a parent or guardian and discover that your child under 16 years of age has provided personal information, then you may alert us as set forth in the <a href="#contact-us">“Contact Us” section</a> and request that we delete that child’s personal information from our systems.</p>
          <div id="contact-us"></div>
          <h3>Contact Us</h3>
          <p>For any questions or comments about this Privacy Policy or your personal information, to make an access or correction request, to exercise any applicable rights, to make a complaint, or to obtain information about our policies and practices with respect to any service providers outside Belgium, our Privacy Officer can be reached at <a href="mailto:privacy@Birdlance.com">privacy@Birdlance.com</a>.</p>
          <p>This Privacy Policy was last updated on July 15th, 2019.</p>
      </div>
    </div>
</div>