<div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto mt-3 mt-md-5">
        <!--Form Header-->
        <header class="mb-4">
          <h2>Create an account</h2>
          <p><% include ./partials/messages %></p>
        </header>
        <!--End of Form Header -->

        <!--Start form-->
        <form action="/users/register" method="post">
          <div class="form-group">
            <label for="signup-name">Name</label>
            <input type="name" id="name" name="name" placeholder="Name" value="<%= typeof name != 'undefined' ? name : '' %>" class="form-control">
          </div>

          <!--Input-->
          <div class="form-group">
            <label for="signup-email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email address" value="<%= typeof email != 'undefined' ? email : '' %>" class="form-control">
          </div>
          <!--end Input-->

          <!--Input-->
          <div class="form-group">
            <label for="signup-password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" value="<%= typeof password != 'undefined' ? password : '' %>" class="form-control">
          </div>
          <!--end Input-->

          <!--Input-->
          <div class="form-group">
            <label for="signup-password">Confirm password</label>
            <input type="password" id="password2" name="password2" placeholder="Confirm password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" class="form-control">
          </div>
          <!--end Input-->          

          <!--Links-->
          <p class="assistive-text">
            By creating an account, you have read and understood the
            <a href="/privacy"> Privacy Policy</a>
          </p>
          <!--end Links-->

          <!--Custom Checkbox-->
<!--          <label for="newsletter-signup">
            <span class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox--input" id="newsletter-signup">
              <span class="custom-checkbox--label">
                  <span class="custom-checkbox--faux"></span>
                  I'd like to get useful tips, inspiration, and offers via email (you can unsubscribe at any time).
                </span>
            </span>
          </label>-->
          <!--End Custom checkbox-->

          <!--Button-->
          <button class="btn btn-lg btn-block btn-primary mt-3">Register</button>
          <!--end Button-->
        </form>
        <!--End of form-->
        <!--Link-->
        <div class="text-center mt-4">
          Already have an account? <a href="/users/login">Login here</a>
        </div>
        <!--end Link-->
      </div>
    </div>
    <!--End of row-->
</div>
<!--end of container-->
