<div class="container">
        <div class="row u-height-50 align-items-center">
          <div class="col-12 col-md-6 mx-auto py-4 px-5 bg-white">
            <header class="text-left mb-4">
              <h2>Reset password</h2>
              <p>Enter your registered email below to recieve your password reset instructions.</p>
              <p><% include ./partials/messages %></p>
            </header>
            <form action="/users/reset-password" method="post">
              <div class="form-group">
                <label for="reset-email">Email</label>
                <input name="email" type="email" id="email" class="form-control" placeholder="Email">
              </div>
      
              <button class="btn btn-primary w-100" type="submit">Reset Password</button>
            </form>
            <a href="/users/login" class="btn btn-link my-4 w-100">Back to Login</a>
          </div>
        </div>
</div>