<div class="container">
    <div class="row u-height-50 align-items-center">
      <div class="col-12 mx-auto py-4 px-5 bg-white">
        <h2>Search results</h2>
        <div class="row">
          <% if(results){ %>
            <% results.forEach(function(result) { %>
                <div class="col-xs-3 col-sm-6 col-md-4">
                  <a target="_blank" href="<%= result.image_uri %>"><%= result.image_uri %></a>
                </div>
            <% }) %>
          <% } %>
        </div>
          <% if(results.length == 0){ %>
            <p>Searched over 1 million images and found 0 results. Birdlance may not have crawled the website or page yet where your image appears. Learn more about how Birdlance works. </p>
          <% } %>
          <p>Using Birdlance reverse image search is private. We do not save your search images. Birdlance is free to use for non-commercial purposes. For business solutions, learn more about how it works below or about our range of solutions in our <a href="../../#overview">overview</a> section.</p>
              <!-- ========== HOW IT WORKS SECTION ========== -->
          <section class="section-spacer" id="faq">
            <div class="container">
              <div class="row">
                <div class="col-md-7 mx-auto">
                  <!--Section Header-->
                  <header class="section-header text-center">
                    <h2>How it works</h2>
                    <p class="lead">Birdlance matches your search image by using image recognition. Image names or any data associated with your search image is not used. When searching for an image, Birdlance creates a unique hash or “fingerprint” from this image using image recognition and then compares it with every image in our index to find matches.
                        The difference between Birdlance and other reverse search image engines is that it is powered by the blockchain, anyone can help to improve our image recognition!                        
                    </p>
                  </header>
                  <!--End Section Header-->
                </div>
              </div>
          
              <div class="row">
                <div class="col-md-6 mx-auto">
                  <ul class="list-unstyled faq-list">
                    <!--FAQ Item-->
                    <li class="mb-3">
                      <h3>How can I help?</h3>
                      <p>Our reverse image search is integrated with each node in the blockchain. This means that the more nodes the birdlance blockchain network has, the more powerful our reverse image search will become.
                          By running a node you help validate the network and increase our image recognition while getting rewarded with BLNC coins. </br>
                          BLNC can now be bought on <a href="https://www.satoexchange.com/ico/BLNC/"  target="_blank">SatoExchange</a>. Sale ends on the 22nd of february 2020 after which trading will open.
                    </p>
                    </li>
                    <li class="mb-3">
                        <h3>What is BLNC and what is it used for?</h3>
                        <p>BLNC is used when sending transactions on the blockchain network such as sending BLNC and picture protection. BLNC can also be used to pay for our business solutions. </br>
                          The Birdlance blockchain is a Proof Of Stake blockchain. 
                          This means BLNC cannot be mined like a coin based on Proof Of Work such as Bitcoin. 
                          People get rewarded with coins by validating the network. </br>
                          To earn BLNC you must "stake" your coins in a wallet and enable forging or run a full node on a cloud platform such as Amazon Web Services.
                          Learn more about the wallet in our <a href="/#faq">FAQ</a> or read our wallet and forging guide <a target="_blank" href="https://medium.com/birdlance/birdlance-wallet-and-forging-guide-3c811cd35487">here</a>.
                      </p>
                    </li>
                    <!--End FAQ Item-->
          
   
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <!-- ========== END FAQ SECTION ========== --> 
      </div>
    </div>
</div>