<section class="no-border-bottom section-sm">
  <div class="container-fluid">
    <div class="image-info">
      <div id="image-title"></div>
      <div id="image-transaction"></div>
      <button id="duplicatesBtn">Show duplicates</button>
      <!-- The Modal -->
      <div id="duplicatesModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
        <span class="image-upload-location">
          <span class="icon">
              <i class="fas fa-location-arrow"/>
          </span>
          <span class="text">
          </span>
          <span class="close">&times;</span>
        </span>
        </div>
      </div>
      <!-- begin section of image-meta-info -->
      <div id="image-meta-info">
        <!-- image meta info: upload tags -->
        <span class="image-upload-tags">
        <span class="icon">
            <i class="fas fa-tags"/>
        </span>
        <span class="text">
          </span>
        </span>
      </div>
      <!-- end section of image-meta-info -->

    </div>
    <hr style="margin-top: 0px;"/>
  </div>

  <div class="row">
    <div class="col-xs">
      <!-- Shot and details -->
      <div class="no-margin-top">
        <div class="modal-content-img">
          <img id="myImage" src="" alt=""/>
        </div>
        <div>
          <p/>
        </div>
      </div>
      <!-- END Shot and details -->
    </div>
  </div>
</div>
</section>