<section class="no-border-bottom">
  <div class="container">
    <header class="section-header">
      <span>Upload</span>
      <h2>Add shot</h2>
      <p>Give a title, upload an image, and write a description to create a shot.</p>
    </header>

      <form id="fileForm" action="/users/upload" class="form-horizontal1" method="POST" enctype="multipart/form-data">
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <div class="card">
              <div class="card-header">
                <h6>Shot details</h6>
              </div>

              <div class="card-block">
                <div class="form-group">
                  <input type="text" class="form-control input-lg" name="title" id="title" placeholder="Title">
                </div>

                <div class="form-group">
                  <label>Preview image</label>
                  <input class="dropify" type="file" name="file" id="file" accept=".jpg,.jpeg,.png,.psd,.gif,.tif,.raw">
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-4">

            <div class="card">
              <div class="card-header">
                <h6>Meta data</h6>
              </div>

              <div class="card-block">
                <div class="form-group">
                  <textarea class="form-control" name="tags" id="tags" rows="5" placeholder="Comma separated tags..."></textarea>
                </div>
              </div>
            </div>

            <button class="btn btn-primary btn-block" type="submit">Submit shot</button>

          </div>
        </div>
      </form>

  </div>
</section>